@charset "UTF-8";
/* CSS Document */

#topNav, .content-menu, #logo, .key, .ui-controlgroup, img, .page_buttons, .print_hide {display:none !important;}

a {color:#000; text-decoration: none;}
.odd, .even { /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #CCCCCC 500%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #CCCCCC 500%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF 0%, #CCCCCC 500%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(5, #CCCCCC));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #CCCCCC 500%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FFFFFF 0%, #CCCCCC 500%);}

thead, tfoot {/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EF262D 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EF262D 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF 0%, #EF262D 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #EF262D));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EF262D 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FFFFFF 0%, #EF262D 100%); color:#FFF; font-weight:bold; text-align:center}

table
{
border-collapse:collapse;
margin:35px;
 

}
thead, tfoot {background:#999;}

td.target {
	border-left: 2px dotted red;
	border-right: 2px dotted red;
}

thead tr:last-child td:first-child {
-moz-border-radius-topleft:10px;
-webkit-border-top-left-radius:10px;
border-top-left-radius:10px}

thead tr:last-child td:last-child {
-moz-border-radius-topright:10px;
-webkit-border-top-right-radius:10px;
border-top-right-radius:10px}

tfoot tr:last-child td:first-child {
-moz-border-radius-bottomleft:10px;
-webkit-border-bottom-left-radius:10px;
border-bottom-left-radius:10px}

tfoot tr:last-child td:last-child {
-moz-border-radius-bottomright:10px;
-webkit-border-bottom-right-radius:10px;
border-top-bottom-radius:10px}

td {min-width: 120px; border-right: 1px dotted white;}
td {padding: 10px;}
